@use 'bootstrap/scss/bootstrap-reboot';
@use 'bootstrap/scss/bootstrap-grid';
@use 'bootstrap/scss/bootstrap-utilities';
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  @include mat.icon-overrides(
    (
      color: #e0e2ec,
    )
  );

  @include mat.fab-overrides(
    (
      small-container-color: #3a7982,
      container-color: #3a7982,
    )
  );

  @include mat.card-overrides(
    (
      title-text-weight: 500,
    )
  );
}

body {
  color-scheme: dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.brand-toolbar {
  min-height: 120px;
}

.brand_logo {
  width: 90px;
  height: 110px;
  display: block;
}

.texto-azul {
  color: #021421;
}

.mat-mdc-card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #021421;
  color: #e0e2ec;
  font-weight: 800;
  padding: 16px !important;
}

.mat-mdc-card-content {
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  background-color: #e0e2eb;
  color: #021421;
}

.mat-mdc-card-subtitle {
  color: #021421 !important;
}

.botao-login {
  background-color: #3a7982 !important;
  color: #e0e2ec !important;
}

.container-login {
  background-color: #021421 !important;
  color: #e0e2ec !important;
}

.mat-mdc-menu-item:hover {
  background: #0e3f63;
}

.app-footer {
  flex-shrink: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: #093e4b;
}
