@use 'bootstrap/scss/bootstrap-reboot';
@use 'bootstrap/scss/bootstrap-grid';
@use 'bootstrap/scss/bootstrap-utilities';
@use '@angular/material' as mat;

:host {
  display: block;
}

.page {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.app-footer {
  margin-top: auto;
  flex-shrink: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: #093e4b;
  color: #e0e2ec;
}

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  @include mat.icon-overrides(
    (
      color: #e0e2ec,
    )
  );

  @include mat.fab-overrides(
    (
      small-container-color: #3a7982,
      container-color: #3a7982,
    )
  );

  @include mat.card-overrides(
    (
      title-text-weight: 500,
    )
  );

  .notificacao-sucesso {
    @include mat.snack-bar-overrides(
      (
        button-color: #ffffff,
        container-color: #2e7d32,
      )
    );
  }

  .notificacao-aviso {
    @include mat.snack-bar-overrides(
      (
        button-color: #1a1500,
        container-color: #f59e0b,
        supporting-text-color: #1a1500,
      )
    );
  }

  .notificacao-erro {
    @include mat.snack-bar-overrides(
      (
        button-color: var(--mat-sys-surface),
        container-color: var(--mat-sys-error),
      )
    );
  }
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.brand-toolbar {
  min-height: 120px;
}

.brand_logo {
  width: 90px;
  height: 110px;
  display: block;
}

.texto-azul {
  color: #021421;
}

.texto-branco {
  color: #e0e2ec !important;
}

.botao-com-tema {
  background-color: #3a7982 !important;
  color: #e0e2ec !important;
}

.icone-verde {
  color: #3a7982 !important;
}
.container-login {
  background-color: #021421 !important;
  color: #e0e2ec !important;
}

.mat-mdc-menu-item:hover {
  background: #0e3f63;
}

.mat-mdc-card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #021421;
  color: #e0e2ec;
  font-weight: 800;
  padding: 16px !important;
}

.mat-mdc-card-content {
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  color: #021421;
}

.mat-mdc-card-subtitle {
  color: #021421 !important;
}

.login-page {
  min-height: 90dvh;
  display: grid;
  place-items: center;
  padding: 2rem 1rem;
}

.login-col {
  width: 100%;
  max-width: 560px;
}
