<mat-card class="mb-3">
  <mat-card-header>
    <div class="d-flex justify-content-between align-items-center w-100">
      <mat-card-title class="">{{ ItemCardInicio.nomeModulo }}</mat-card-title>
      <button
        matMiniFab
        [aria-label]="ItemCardInicio.ariaLabelBotao"
        [title]="ItemCardInicio.botao1Title"
        [routerLink]="ItemCardInicio.botao1Link"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <img mat-card-image [src]="ItemCardInicio.imagemSrc" [alt]="ItemCardInicio.imagemAlt" />

  <mat-card-content>
    <mat-card-title class="mt-2">{{ ItemCardInicio.titulo }}</mat-card-title>
    <p class="text-center mt-2">
      {{ ItemCardInicio.descricao }}
    </p>

    <a
      matFab
      extended
      [routerLink]="ItemCardInicio.botao2Link"
      [title]="ItemCardInicio.botao2Title"
    >
      <mat-icon class="texto-branco">{{ ItemCardInicio.botaoIcone }}</mat-icon>
      <div class="texto-branco">
        {{ ItemCardInicio.botaoTexto }}
      </div>
    </a>
  </mat-card-content>
</mat-card>
