<mat-card>
  <mat-card-header class="">
    <div class="d-flex justify-content-between align-items-center w-100">
      <mat-card-title class="">{{ ItemCardHome.moduleName }}</mat-card-title>
      <button
        matMiniFab
        [aria-label]="ItemCardHome.ariaLabelButton"
        [title]="ItemCardHome.button1Title"
        [routerLink]="ItemCardHome.button1Link"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <img mat-card-image [src]="ItemCardHome.imageSrc" [alt]="ItemCardHome.imageAlt" />

  <mat-card-content>
    <mat-card-title class="mt-2">{{ ItemCardHome.title }}</mat-card-title>
    <p class="text-center mt-2">
      {{ ItemCardHome.description }}
    </p>

    <a matFab extended [routerLink]="ItemCardHome.button2Link" [title]="ItemCardHome.button2Title">
      <mat-icon>{{ ItemCardHome.buttonIcon }}</mat-icon>
      {{ ItemCardHome.buttonText }}
    </a>
  </mat-card-content>
</mat-card>
