.sidenav-container {
  height: 100%;
  background-color: #faf9fd;
}

.sidenav {
  width: 200px;
  border-radius: 0px;
  padding: 0 3px;
  background-color: #021421;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  background-color: #021421;
  position: sticky;
  top: 0;
  z-index: 1;
}
