<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="brand-toolbar justify-content-center mt-1"
      ><a href="/" class="brand">
        <img
          class="brand_logo"
          src="/logo.png"
          alt="Logotipo do NoteKeeper Oblivion"
          decoding="async"
          loading="eager" /></a
    ></mat-toolbar>
    <mat-nav-list class="">
      @for (item of itensNavbar; track item.nome) {
        <a mat-list-item [routerLink]="item.route">
          <mat-icon matListItemIcon class="texto-branco">{{ item.icone }}</mat-icon>
          <div class="texto-branco">{{ item.nome }}</div>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button type="button" aria-label="Toggle sidenav" matIconButton (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <button mat-raised-button [matMenuTriggerFor]="opcoesUsuario" class="ms-auto botao-com-tema">
        <mat-icon>assignment_ind</mat-icon>
        {{ usuarioAutenticado.userName }}
      </button>

      <mat-menu #opcoesUsuario="matMenu" class="container-login">
        <button mat-menu-item style="min-width: 160px" (click)="logoutRequisitado.emit()">
          <mat-icon class="texto-branco">logout</mat-icon>
          <div class="texto-branco">Logout</div>
        </button>
      </mat-menu>
    </mat-toolbar>
    <div class="container-fluid mt-3">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
