.sidenav-container {
  height: 100%;
  background-color: #cfdce2;
}

.sidenav {
  width: 195px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 32px;
  padding: 0 3px;
  background-color: #021421;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  background-color: #021421;
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenav-svg {
  fill: #021421;
}
